* {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 118, 157);
}

.LLC {
color: rgb(235, 243, 0);
}

#header {
    display: flex;
    flex-wrap: wrap;
}

#header h1 {
    
    flex-wrap: wrap;
    font-size: 65px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 10px 1px gray;
}


body h2 {
    text-align: center;
    color: rgb(235, 243, 0);
    padding-top: 200px;
    font-size: 50px;
    font-weight: 90;
    font-family:'Times New Roman', Times, serif
    
}

@media screen and (max-width: 600px){
#header h1 {
    font-size: 40px;
}
}

body main h3 {
    text-shadow: 1px 5px gray;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-weight: 90;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}

@media screen and (max-width: 600px){
    body main h3 {
        font-size: 40px;
    }
    }


main {
    display: flex;
    flex-wrap: wrap;
}

footer h1 {
    text-align: center;
    color: rgb(235, 243, 0);
    padding-top: 100px;
    font-weight: 90;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}

footer h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-weight: 90;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}

footer h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-weight: 90;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}